<div class="user-details-wrap">

    <div class="user-details__inner">

        <div class="forms-wrap">

            <div class="forms-left">

                <h2 class="forms--header">Customer Details</h2>

                <!-- FIRST NAME -->
                <div class="user-details__form-wrap">

                    <label for="first name" class="user-details-form__label">First Name</label>
                    <input placeholder="First Name" type="text" class="user-details--input-form" role="form">

                </div>

                <!-- LAST NAME -->
                <div class="user-details__form-wrap">

                    <label for="Last Name" class="user-details-form__label">Last Name</label>
                    <input placeholder="Last name" type="text" class="user-details--input-form" role="form">

                </div>

                <!-- PHONE NUMBER -->
                <div class="user-details__form-wrap">

                    <label for="Phone Number" class="user-details-form__label">Phone Number</label>
                    <input placeholder="+447459112036" type="text" class="user-details--input-form" role="form">

                </div>

                <!-- EMAIL ADDRESS -->
                <div class="user-details__form-wrap">

                    <label for="Email Address" class="user-details-form__label">Email Address</label>
                    <input placeholder="jondoe@gmail.com" type="text" class="user-details--input-form" role="form">

                </div>

                <!-- ADDRESS -->
                <div class="user-details__form-wrap">

                    <label for="Address" class="user-details-form__label">Address</label>
                    <input placeholder="Address" type="text" class="user-details--input-form" role="form">

                </div>
            </div>

            <div class="user-selection-wrap">

                <!-- BORDER LINE -->
                <div class="horizontal-line"></div>

                <ul>
                    <li>Room Number</li>
                    <li>101</li>
                </ul>
                <ul>
                    <li>Room Type</li>
                    <li>Deluxe</li>
                </ul>
                <ul>
                    <li>Amount</li>
                    <li>7,500:00</li>
                </ul>
                <ul>
                    <li>No of Rooms</li>
                    <li>5</li>
                </ul>

            </div>
        </div>

        <div class="forms-wrap">

            <h2 class="forms--header">Next of Kin</h2>

            <!-- FIRST NAME -->
            <div class="user-details__form-wrap">

                <label for="Full Name" class="user-details-form__label">Full Name</label>
                <input placeholder="Fullname" type="text" class="user-details--input-form" role="form">

            </div>

            <!-- FIRST NAME -->
            <div class="user-details__form-wrap">

                <label for="address" class="user-details-form__label">Address</label>
                <input placeholder="Address" type="text" class="user-details--input-form" role="form">

            </div>

            <!-- FIRST NAME -->
            <div class="user-details__form-wrap">

                <label for="Phone Number" class="user-details-form__label">Phone Number</label>
                <input placeholder="+2348054363255" type="text" class="user-details--input-form" role="form">

            </div>

            <div class="user-details__form-wrap">

                <label for="Phone Number" class="user-details-form__label big-label">Room Details</label>
                <label for="Phone Number" class="user-details-form__label">Room Type</label>
                <div class="select-style">

                    <select role="form">
                        <option value="volvo">Select a room</option>
                        <option value="saab">Dulux</option>
                        <option value="mercedes">Silver</option>
                        <option value="audi">Presidential</option>
                    </select>
                </div>
            </div>

            <div class="user-details__form-wrap">
                <label for="Check-in Date" class="user-details-form__label">Check-out Date</label>
                <input type="date" class="date-input">
                <img src="/assets/icons/calendar.svg" class="calendar-icon" alt="calendar icon">
            </div>

            <div class="user-details__form-wrap">
                <label for="Check-out Date" class="user-details-form__label">Check-out Date</label>
                <input type="date" class="date-input">
                <img src="/assets/icons/calendar.svg" class="calendar-icon" alt="calendar icon">
            </div>

        </div>
    </div>

    <!-- submit BUTTON -->
    <div role="button" class="submit__button-wrap">
        <button class="submit--btn" type="button">SUBMIT</button>
    </div>

</div>
