$font-color: #343434;
$white: #fff;
$light-grey: #F9F9F9;
$feint-grey: rgba(118, 118, 118, 0.45);
$btn-primary: linear-gradient(180deg, #3E5D7A 0%, #33384E 100%);
$placeholder-color: rgba(118, 118, 118, 0.45);
